$bbgreen:#d8f3e5;
$yellow: rgb(248, 248, 77);
$blue: rgb(51, 63, 236);
$white: white;
$microverse: #6D2EFD;
$maingreen: rgb(6, 61, 6);
$gray: rgb(75, 74, 74);
$mainbg: #fafafa;
$progress: rgba(131, 127, 127, 0.267)
